* {
  margin: 0px;
  box-sizing: border-box;
}
.App {
  background: #fafafa;
  height: 100vh;
}

.app__header {
  padding: 10px;
  border-bottom: 1px solid lightgray;
  background: white;
}
.app__header__img {
  object-fit: contain;
}
